:root {
  --clr-bg-primary: hsl(210, 16%, 93%); /* light silver */
  --clr-bg-secondary: hsl(100, 100%, 99%); /* white */
  --clr-text: hsl(0, 0%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-bg-primary);
  color: var(--clr-text);
  min-height: 100vh;
}

button,
input:not([type='checkbox']) {
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 100%;
}

input {
  --clr-bg-input: hsl(32, 100%, 92%);

  background-color: var(--clr-bg-input);
  border: none;

  &[type='checkbox'] {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
  }
}

button {
  appearance: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: inherit;
}

button,
a {
  &:focus {
    outline: 1px solid hsla(28, 67%, 44%, 0.75);
    outline-offset: 2px;
  }
}

.container {
  display: grid;
  grid-template-rows: max-content 400px 1fr max-content;
}

/* NAV SECTION */
.main-nav {
  background-color: var(--clr-bg-secondary);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;

  & > div,
  & ul {
    display: flex;
    align-items: center;
  }
}

.logo {
  gap: 0.25rem;

  & h1 {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
  }

  &:hover {
    cursor: pointer;
  }
}

.nav-items {
  & li {
    list-style: none;

    & > a {
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: background-color 300ms ease-out, color 300ms ease-out,
        outline 500ms cubic-bezier(0.13, -0.16, 0.55, 3);

      &:hover {
        background-color: #bc6c25;
        border-radius: 5px;
        color: var(--clr-bg-secondary);
      }
    }
  }
}

.profile {
  gap: 0.75rem;

  & > img:first-child {
    background-color: #f6bd60;
    border-radius: 50%;
    padding: 0.5rem;
  }

  & h2 {
    font-size: 1rem;
  }

  & > img {
    transition: scale 300ms ease;
    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

.menu-bar {
  display: none;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;

  height: 100%;
  padding: 0.25rem;
  width: 2.5rem;

  & > div {
    background-color: var(--clr-text);
    border-radius: 5px;
    height: 15%;
    width: 100%;
  }
}

.hero {
  position: relative;

  & > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  & figcaption {
    background-color: hsl(210, 16%, 93%, 0.35);
    font-size: clamp(0.7rem, 1.75vw, 0.8rem);
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;

    & > a {
      transition: font-weight 200ms ease;

      &:hover {
        font-weight: 600;
      }
    }
  }
}

.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  padding: clamp(3rem, 4.5vw, 5rem) clamp(1.5rem, 9vw, 10rem);
}

.btn {
  align-self: flex-start;
  background-color: #bc6c25;
  box-shadow: 0 10px 20px hsl(0, 0%, 20%, 0.3);
  color: var(--clr-bg-secondary);
  font-weight: 600;
  padding: 0.75rem 3rem;

  &:hover {
    background-color: hsla(28, 67%, 44%, 0.75);
  }
}

dialog {
  background-color: var(--clr-bg-secondary);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px hsl(0, 0%, 20%, 0.25);
  padding: 2rem;
  top: calc(50% - 215px);
  left: calc(50% - clamp(18.75rem, 23vw, 25rem) / 2);
  width: clamp(18.75rem, 23vw, 25rem);

  & > h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &::backdrop {
    background-color: hsla(32, 100%, 92%, 0.5);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & label {
    margin-right: 0.75rem;
  }

  .btn {
    width: 100%;
  }

  .save {
    display: none;
  }
}

.input {
  padding: 0.75rem 1rem;
  width: 100%;

  &:focus,
  &:active,
  &:hover {
    --clr-bg-input: hsla(32, 100%, 92%, 0.5);

    outline: 1px solid var(--clr-bg-primary);
  }

  &:not(:focus, :active, [value='']) {
    --clr-bg-input: hsla(32, 100%, 92%, 0.5);

    outline: 1px solid hsla(0, 0%, 20%, 0.25);
  }
}

.book-list {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: max-content;
  width: 100%;
}

.book,
.headings {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 3fr 2fr 2fr 2fr 1fr;
  padding: 1rem 1.5rem;
}

.headings {
  border-bottom: 1px solid hsl(0, 0%, 20%, 0.2);
  margin-bottom: 0.5rem;

  & > h3 {
    font-size: 1rem;
  }
}

.book {
  background-color: var(--clr-bg-secondary);
  border-radius: 10px;
  box-shadow: 0 0 50px hsl(28, 67%, 44%, 0.1);

  & p {
    justify-self: start;
  }

  .title {
    font-weight: 600;
  }

  & p:last-child {
    display: flex;
    justify-content: center;
    justify-self: end;
    gap: 0.5rem;
  }

  .status {
    padding: 0.25rem 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  & button {
    background-color: inherit;
    border-radius: unset;
    padding: 0;
  }
}

@media only screen and (max-width: 770px) {
  .main-nav .nav-items {
    display: none;
  }

  .profile {
    & > img:last-of-type,
    & > h2 {
      display: none;
    }

    .menu-bar {
      display: flex;
    }
  }

  .book-list {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .headings {
      display: none;
    }
  }

  .book {
    gap: 0.75rem;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
      'status edit-remove-btns'
      'title .'
      'author .'
      'genre .'
      'pages .';

    .title {
      font-size: clamp(1rem, 4.5vw, 1.25rem);
      grid-area: title;
    }

    .author {
      font-weight: 500;
      grid-area: author;
    }

    .genre {
      font-style: italic;
      grid-area: genre;
    }

    .pages {
      font-style: italic;
      grid-area: pages;
    }

    .status {
      grid-area: status;
    }

    .edit-remove {
      grid-area: edit-remove-btns;
    }
  }
}
