:root {
  --clr-bg-primary: hsl(210, 16%, 93%); /* light silver */
  --clr-bg-secondary: hsl(100, 100%, 99%); /* white */
  --clr-text: hsl(0, 0%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-bg-primary);
  color: var(--clr-text);
  min-height: 100vh;
}

button,
input:not([type='checkbox']) {
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5rem 1.5rem;
}

input {
  --clr-bg-input: hsla(60, 10%, 92%, 0.5);

  background-color: var(--clr-bg-input);
  border: none;

  &:is([type='checkbox']) {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
  }
}

button {
  appearance: none;
  border: none;
  transition: transform 300ms ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: max-content 400px 1fr max-content;
}

/* NAV SECTION */
.main-nav {
  background-color: var(--clr-bg-secondary);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;

  & > div,
  & ul {
    display: flex;
    align-items: center;
  }
}

.logo {
  gap: 0.25rem;

  & h1 {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
  }

  &:hover {
    cursor: pointer;
  }
}

.nav-items {
  gap: 1.5rem;

  & li {
    list-style: none;
    transition: scale 300ms ease;

    &:hover {
      scale: 1.05;
    }
  }
}

.profile {
  gap: 0.75rem;

  & > img:first-child {
    background-color: #f6bd60;
    border-radius: 50%;
    padding: 0.5rem;
  }

  & h2 {
    font-size: 1rem;
  }

  & > img {
    transition: scale 300ms ease;
    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

.menu-bar {
  display: none;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;

  height: 100%;
  padding: 0.25rem;
  width: 2.5rem;

  & > div {
    background-color: var(--clr-text);
    border-radius: 5px;
    height: 15%;
    width: 100%;
  }
}

.hero {
  & > img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .main-nav .nav-items {
    display: none;
  }

  .profile {
    & > img:last-of-type,
    & > h2 {
      display: none;
    }

    .menu-bar {
      display: flex;
    }
  }
}
